<header class="c-page__header">
  <div style="float: left; width: 45%;">
    <img src="{{ site.baseurl }}/assets/sage.png" alt="Sagical" title="Sagical" width="40px" style="margin-top: -10px;" />
    <span style="color: #4c6d54; font-family: Chalkboard; font-size: 2.8rem;">
      {{ site.title }}
    </span>
  </div>
  <div style="float: right; text-align: right; width: 50%; font-size: 14px; margin-top: 9px;">एक: आदर्श: परिवर्तयितुं निष्प्राणं आत्मा उच्छ्रितनेतृरूपेण परिणतुं शक्नोति।</div>
  <hr style="border: 1px solid #849c8f; top: 20px; position: relative;"/>
  <div style="float: left; width: 100%; font-size: 16px;">
    <a href="{{ "/" | prepend: site.baseurl }}">🏠 Home</a>
    <span class="u-separate"></span> <a href="{{ "/books/" | prepend: site.baseurl }}">📚 Books</a>
    <span class="u-separate"></span> <a href="{{ "/about/" | prepend: site.baseurl }}">🙋🏻‍♂️ About</a>
    <span class="u-separate"></span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </div>
  <hr style="border: 1px solid #849c8f; top: 5px; position: relative;"/>
</header>
